
nav a:not(:first-child) {
  margin-left: 10px;
}

.App {
  padding: 20px;
  width: 100%;
}

.column {
  flex: 50%;
}

.column-3 {
  flex: 25%
}

.column-6 {
  flex: 50%
}

.column-9 {
  flex: 75%
}

.row {
  display: flex;
}

#panel-board {
}

#panel-control {
  margin-top: 30px;
}

#panel-moves {
  margin-top: 16px;
}

.center {
  text-align: center;
}

.margin-left-m {
  margin-left: 16px;
}

.margin-bottom-m {
  margin-bottom: 16px;
}

button, .btn {
  cursor: pointer;
  height: 44px;
  background: moccasin;
  font-weight: 500;
  color: rgb(32, 20, 11);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(129, 89, 63);
  border-radius: 5px;
  padding: 5px 16px 5px 16px;
}

button.btn-primary {
  background: rgb(196, 120, 69);
  color: rgb(255, 243, 221);
}

.full-width {
  width: 100%;
}

button p {
  margin: 0;
  width: 100%;
}

.description {
  font-weight: normal;
  font-size: smaller;
}

.center {
  text-align: center;
  width: 100%;
}

.taken {
  color: rgb(32, 20, 11);
  font-size: 24px;
  height: 30px; 
}

table.board {
  background: rgb(196, 120, 69);
  color: rgb(32, 20, 11);
/*  width: 704px; */
/*  margin: 0 10%; */
  border-collapse: collapse;
}

table.board th {
  background: moccasin;
  font-weight: normal;
}

table.board td {
  width: 80px;
  height: 80px;
  font-size: 40pt;
  text-align: center;
}

table.board tbody tr td:first-child::before {
  font-size: 12pt;
  color: rgb(32, 20, 11);
  float: left;
  vertical-align: top;
}

table.board tbody tr:first-child td:first-child::before {
  content: "8";
}

table.board tbody tr:nth-child(2) td:first-child::before {
  content: "7";
}

table.board tbody tr:nth-child(3) td:first-child::before {
  content: "6";
}

table.board tbody tr:nth-child(4) td:first-child::before {
  content: "5";
}

table.board tbody tr:nth-child(5) td:first-child::before {
  content: "4";
}

table.board tbody tr:nth-child(6) td:first-child::before {
  content: "3";
}

table.board tbody tr:nth-child(7) td:first-child::before {
  content: "2";
}

table.board tbody tr:nth-child(8) td:first-child::before {
  content: "1";
}

table.board td.piece.turn {
  cursor: pointer;
}

table.board tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
	background: moccasin;
}

table.board td.piece.turn:hover, table.board td.selectable:hover {
  background: rgb(223, 150, 101);
  font-size: 48pt;
  box-shadow: 0px 0px 2px 2px #f1a92b;
}

table.board tr:nth-child(even) td.piece:nth-child(even):hover,
table.board tr:nth-child(odd) td.piece:nth-child(odd):hover,
table.board tr:nth-child(even) td.selectable:nth-child(even):hover,
table.board tr:nth-child(odd) td.selectable:nth-child(odd):hover  {
	background: rgb(252, 232, 198);
}

table.board td.selectable {
  cursor: pointer;
}

table.board td.piece.selected {
  font-size: 48pt;
  color: rgb(20, 13, 7);
  box-shadow: 0px 0px 2px 2px #f1a92b;
}

table.board td.from,
table.board tr:nth-child(even) td.from:nth-child(even),
table.board tr:nth-child(odd) td.from:nth-child(odd),
table.board tr:nth-child(even) td.from.piece:nth-child(even),
table.board tr:nth-child(odd) td.from.piece:nth-child(odd),
table.board tr:nth-child(even) td.from.selectable:nth-child(even),
table.board tr:nth-child(odd) td.from.selectable:nth-child(odd) {
  background: rgb(228, 221, 91);
}

table.board td.invalid,
table.board td.invalid:hover
 {
  background:#d2422f;
}

table.board tr:nth-child(even) td.piece:nth-child(even).invalid,
table.board tr:nth-child(odd) td.piece:nth-child(odd).invalid,
table.board tr:nth-child(even) td.selectable:nth-child(even).invalid,
table.board tr:nth-child(odd) td.selectable:nth-child(odd).invalid  {
	background: #dc5441;
}
